<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseSchemaReader" version="1.4.4.0" targetFramework="net45" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Hydra" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net45" />
  <package id="JsonLD.Entities" version="0.3.1-pre0008" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net46" />
  <package id="Nancy" version="1.4.3" targetFramework="net46" />
  <package id="Nancy.Hydra" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.RDF" version="0.2.0-pre0030" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="r2rml4net" version="0.4.0.0-pre01" targetFramework="net46" />
  <package id="VDS.Common" version="1.6.0" targetFramework="net45" />
  <package id="wikibus.common" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="wikibus.nancy" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="wikibus.sources" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="wikibus.sources.dotNetRDF" version="0.1.0-pre0298" targetFramework="net45" />
  <package id="wikibus.sources.nancy" version="0.1.0-pre0298" targetFramework="net45" />
</packages>